<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<imgdir name="SpringValley.img">
    <imgdir name="back">
        <canvas name="0" width="1" height="1">
            <vector name="origin" x="49" y="49" />
            <int name="z" value="0" />
            <string name="_hash" value="11c8a178f9e6db3dacd55ebd27ecc22ab0d3c9c4793462e443d549cfaaadac49" />
            <string name="_outlink" value="Map/Back/Play_SpringValley.img/back/0" />
        </canvas>
        <canvas name="1" width="1" height="1">
            <vector name="origin" x="65" y="292" />
            <int name="z" value="0" />
            <string name="_hash" value="ea7383c646e0ebabd82a0d5e5b1fd5856f73a58fcebcf262aafa26723c35f69d" />
            <string name="_outlink" value="Map/Back/Play_SpringValley.img/back/1" />
        </canvas>
        <canvas name="2" width="1" height="1">
            <vector name="origin" x="258" y="91" />
            <int name="z" value="0" />
            <string name="_hash" value="434698366d7db036296e6a751eaeb5f8d00f522839cdd1792f7ba1528817f327" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/2" />
        </canvas>
        <canvas name="3" width="1" height="1">
            <vector name="origin" x="315" y="129" />
            <int name="z" value="0" />
            <string name="_hash" value="47561bfd5366ea354bbcdf9e92aa2f273bb80bfac8d895b084d780602aa747a0" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/3" />
        </canvas>
        <canvas name="4" width="1" height="1">
            <vector name="origin" x="306" y="62" />
            <int name="z" value="0" />
            <string name="_hash" value="f371f3a3cbb09844064d1130b4d99273ef7e0248678fe8b248d94c58bb0f3dba" />
            <string name="_outlink" value="Map/Obj/grassySoil_new.img/back/8" />
        </canvas>
        <canvas name="5" width="1" height="1">
            <vector name="origin" x="561" y="198" />
            <int name="z" value="0" />
            <string name="_hash" value="9eac6b0f81f8c277a153b668fe92b4a6ae6925806cc0926095a212f0637d6281" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/5" />
        </canvas>
        <canvas name="6" width="1" height="1">
            <vector name="origin" x="890" y="154" />
            <int name="z" value="0" />
            <string name="_hash" value="f7af26b01c16d047db642b320eca7cf89df3cd2a0d35ff40c5692ab559c48fb9" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/6" />
        </canvas>
        <canvas name="7" width="1" height="1">
            <vector name="origin" x="609" y="226" />
            <int name="z" value="0" />
            <string name="_hash" value="7d85c3510f42c074909ab67ddc5b491e40ab117fdda86db1cfbc972dc1cfd922" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/7" />
        </canvas>
        <canvas name="8" width="1" height="1">
            <vector name="origin" x="164" y="167" />
            <int name="z" value="0" />
            <string name="_hash" value="1422465a288d6cd6dfb6c3d78b21f238be0c12927badf471fe401291c1c6d4b0" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/8" />
        </canvas>
        <canvas name="9" width="1" height="1">
            <vector name="origin" x="250" y="138" />
            <int name="z" value="0" />
            <string name="_hash" value="de7364c3b2f745eb7c3c5effab1e988ef74ede4bdc3950c87e2930281813850a" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/9" />
        </canvas>
        <canvas name="10" width="1" height="1">
            <vector name="origin" x="250" y="91" />
            <int name="z" value="0" />
            <string name="_hash" value="3646fddb288fea3d6aa7a1b3b89dda04e9447e7662fdff19fb5be5d0b75b2e75" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/10" />
        </canvas>
        <canvas name="11" width="1" height="1">
            <vector name="origin" x="65" y="292" />
            <int name="z" value="0" />
            <string name="_outlink" value="Map/Back/Play_SpringValley.img/back/1" />
        </canvas>
        <canvas name="12" width="1" height="1">
            <vector name="origin" x="645" y="109" />
            <int name="z" value="0" />
            <string name="_hash" value="b0d2642de0d3243549bef02257402e0df1f5cb4e77ed849fe2cf6e6ca593dd16" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/12" />
        </canvas>
        <canvas name="13" width="1" height="1">
            <vector name="origin" x="111" y="78" />
            <int name="z" value="0" />
            <string name="_hash" value="223911b3aeb2e29383c182952fd6ed42d00b934fa63eb68fa393d12e55edfa58" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/13" />
        </canvas>
        <canvas name="14" width="1" height="1">
            <vector name="origin" x="141" y="71" />
            <int name="z" value="0" />
            <string name="_hash" value="34980e90b0ba0edb268d0c17049b28c483ce232086152591717230197c69fded" />
            <string name="_outlink" value="Map/Back/arisanCity.img/back/14" />
        </canvas>
    </imgdir>
</imgdir>