<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<imgdir name="SpringValleyLake.img">
    <imgdir name="info" />
    <imgdir name="bsc">
        <canvas name="0" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="5a661e7e18770217d0f58837fd1c545eb4d2c41b9a7219ee0e1b9e34806242ec" />
        </canvas>
        <canvas name="1" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="0f7252b48f66e97b6bf39002287578964cf644fc7ab8483fb60410e13254a2ce" />
        </canvas>
        <canvas name="2" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="d751207a389910f21ab35564eee645227a6bce44b4c7556fbb919a5b4c7adb80" />
        </canvas>
        <canvas name="3" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="bdf944a75f9f3089cfe5dadd46e327f75cac396e4951ecdb9ffb10f0f00fab5f" />
        </canvas>
        <canvas name="4" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="0b4eb5d2665df208176ef363273eef9fef96c15a07573afd3735c112e41da5e9" />
        </canvas>
        <canvas name="5" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="0a5eab7264c62a83419289a915e590322113a4839d12ce566c95a83b564ac2a7" />
        </canvas>
    </imgdir>
    <imgdir name="enH0">
        <canvas name="0" width="90" height="37">
            <vector name="origin" x="0" y="37" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="8708f1ca5a0082acfd84651cb7d4075446e9f98a88cfe8d54df7770224bc4160" />
        </canvas>
        <canvas name="1" width="90" height="37">
            <vector name="origin" x="0" y="37" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="163ef1f027c50e2bfe2cabc66dbe8b0376e402159edd2493dc44b89ca4dea02e" />
        </canvas>
        <canvas name="2" width="90" height="36">
            <vector name="origin" x="0" y="36" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="858d83a3c6a57a30a152070972ca99ab36c869e800dab4c1950c8330be58f4de" />
        </canvas>
    </imgdir>
    <imgdir name="enH1">
        <canvas name="0" width="90" height="26">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="d81b5a9d4d8954fc66fb4d99ef7a99b21fd85a43f3595f1567b8589bfae5c8e2" />
        </canvas>
        <canvas name="1" width="90" height="28">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="257ddcbb5add0c0e9cce735b8e69ba9e68c20d29a472c7db97fdd5a9d7946b86" />
        </canvas>
        <canvas name="2" width="90" height="24">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="1194f7bf175e07a6a953d6ac6b4802cf761c501b0e4e5182b95a67c9db2dd3ab" />
        </canvas>
    </imgdir>
    <imgdir name="enV0">
        <canvas name="0" width="29" height="60">
            <vector name="origin" x="29" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="60" />
                <vector name="foothold" x="-32" y="0" />
            </extended>
            <string name="_hash" value="15f4af0ffd06bfe259344721d6fe754214c672543ad5084972b11e08feb7b4e5" />
        </canvas>
        <canvas name="1" width="29" height="60">
            <vector name="origin" x="29" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="60" />
                <vector name="foothold" x="-32" y="0" />
            </extended>
            <string name="_hash" value="9d838c88ccafa27874858d156db35cc8d07e398aab606c94a3814cbf717c5f60" />
        </canvas>
    </imgdir>
    <imgdir name="enV1">
        <canvas name="0" width="35" height="60">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="32" y="0" />
                <vector name="foothold" x="32" y="60" />
            </extended>
            <string name="_hash" value="91e5edab6d10ef86081ee142178f95b43ba275b4e60c72c49e27c8b24bc35898" />
        </canvas>
        <canvas name="1" width="29" height="60">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="32" y="0" />
                <vector name="foothold" x="32" y="60" />
            </extended>
            <string name="_hash" value="fe94b4426fb496ba6408c53c3f4f4b3596b4939091631e190021e9ad23a4394b" />
        </canvas>
    </imgdir>
    <imgdir name="edU">
        <canvas name="0" width="62" height="36">
            <vector name="origin" x="29" y="36" />
            <int name="z" value="-4" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="0" />
                <vector name="foothold" x="-32" y="-30" />
                <vector name="foothold" x="32" y="-30" />
                <vector name="foothold" x="32" y="0" />
            </extended>
            <string name="_hash" value="1983c2a5d84ec486dbb06da6d7426d582bfeafc1e45c14d50104e537c4d30a73" />
        </canvas>
    </imgdir>
    <imgdir name="edD">
        <canvas name="0" width="41" height="19">
            <vector name="origin" x="20" y="0" />
            <imgdir name="map" />
            <int name="z" value="-4" />
            <string name="_hash" value="e7ced6e1ea8cc2b264bc82f853a0c7c8f79081373272d0cc4f6854f254ec0bfa" />
        </canvas>
    </imgdir>
    <imgdir name="slLU">
        <canvas name="0" width="90" height="96">
            <vector name="origin" x="90" y="96" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="-90" y="-30" />
                <vector name="foothold" x="0" y="-90" />
            </extended>
            <string name="_hash" value="b940436d6e7d50f01d5a8705109ad97784367056474868af2ec2ec567f607d91" />
        </canvas>
    </imgdir>
    <imgdir name="slRU">
        <canvas name="0" width="90" height="96">
            <vector name="origin" x="0" y="96" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-90" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="41db13714e58780876a7cd136eed7efe4abcb6c9d1fce8e51ddb0c30bd5118e1" />
        </canvas>
    </imgdir>
    <imgdir name="slLD">
        <canvas name="0" width="90" height="60">
            <vector name="origin" x="90" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="68353b793b7b80ad1ec34128fc89e50c52738e8b4746c084db87029b198f497b" />
        </canvas>
    </imgdir>
    <imgdir name="slRD">
        <canvas name="0" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="e9fbf9a4fdfcf99b0b7ab26291a6f9f2ed4db19ee62b7986f5f8979d7f96463c" />
        </canvas>
    </imgdir>
</imgdir>