<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<imgdir name="SpringValleyRock.img">
    <imgdir name="info" />
    <imgdir name="bsc">
        <canvas name="0" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="52828d4609706a4a408503c19779660666575177c0ba26702878546c20f6e499" />
        </canvas>
        <canvas name="1" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="36e87377b62c7d3dc3eab4712a69515df33671b795246be3f5740571b1c17720" />
        </canvas>
        <canvas name="2" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="fefcdf9d4cc4121103813eb0f3277890cd456faaf801d64962c8104212481853" />
        </canvas>
        <canvas name="3" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="a75fae54bfc538aac5b15e7ecea4ad88a3bf114dcb1556a476881590c94ac814" />
        </canvas>
        <canvas name="4" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="5aa940f17b6f6898dd9d26203ed7ebaa9d3284202d5698cb0112a6db1f868287" />
        </canvas>
        <canvas name="5" width="90" height="60">
            <vector name="origin" x="0" y="0" />
            <int name="z" value="0" />
            <string name="_hash" value="417b45802be616716459e2b976fe86c04c98cd434e221b194c8428fd89ded673" />
        </canvas>
    </imgdir>
    <imgdir name="enH0">
        <canvas name="0" width="90" height="36">
            <vector name="origin" x="0" y="36" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="3d5f8e8b4ac88dd11f061bc5e6fcd1a2498909d7036892ff3a4b45bc5e8c09ff" />
        </canvas>
        <canvas name="1" width="90" height="37">
            <vector name="origin" x="0" y="37" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="1cf024bc748045280e99b39913e0e68a09aeaefec771bdca89a8c36ecb94c471" />
        </canvas>
        <canvas name="2" width="90" height="37">
            <vector name="origin" x="0" y="37" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-30" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="61c7bf40663d24d08b8bd4db7e84cc3a6aa039a4da1de1a197dc414c5244eb93" />
        </canvas>
    </imgdir>
    <imgdir name="enH1">
        <canvas name="0" width="90" height="24">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="c9ea8b907936140c68c4703eed93e18a828a469bd3301b330dec36cacbe0f29c" />
        </canvas>
        <canvas name="1" width="90" height="26">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="a013c2ee5c49a42059db20eaa0154e5416f61fa7ac8a513c5a0b3ba4b6c74492" />
        </canvas>
        <canvas name="2" width="90" height="28">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="6da26a64dc1a5ea31beb425b01f8230aa952022f48dbe3e07a82a66d208b3db7" />
        </canvas>
    </imgdir>
    <imgdir name="enV0">
        <canvas name="0" width="29" height="60">
            <vector name="origin" x="29" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="60" />
                <vector name="foothold" x="-32" y="0" />
            </extended>
            <string name="_hash" value="52486b426f1f0fbf8103bf8f69d6e846bcc74d186224c1fae07ac36c26b61ea8" />
        </canvas>
        <canvas name="1" width="29" height="60">
            <vector name="origin" x="29" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="60" />
                <vector name="foothold" x="-32" y="0" />
            </extended>
            <string name="_hash" value="9db2901c44d08910c77cee843fba5227cb1ee01a641a0532d05b9eb102b6e862" />
        </canvas>
    </imgdir>
    <imgdir name="enV1">
        <canvas name="0" width="35" height="60">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="32" y="0" />
                <vector name="foothold" x="32" y="60" />
            </extended>
            <string name="_hash" value="4b7b08784997cbf3175c0eca5c28ec0229eba2917a85c6ed6be2e14b626495fa" />
        </canvas>
        <canvas name="1" width="29" height="60">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-2" />
            <extended name="foothold">
                <vector name="foothold" x="32" y="0" />
                <vector name="foothold" x="32" y="60" />
            </extended>
            <string name="_hash" value="399f52897bdac6ead6db5a83b22876b08b1ecbb080c449ea0f0b5583472bf0f2" />
        </canvas>
    </imgdir>
    <imgdir name="edU">
        <canvas name="0" width="62" height="36">
            <vector name="origin" x="29" y="36" />
            <int name="z" value="-4" />
            <extended name="foothold">
                <vector name="foothold" x="-32" y="0" />
                <vector name="foothold" x="-32" y="-30" />
                <vector name="foothold" x="32" y="-30" />
                <vector name="foothold" x="32" y="0" />
            </extended>
            <string name="_hash" value="906f025c4423eb36f6771e800de3d5ce0d1f7dc4cebcfc1b1b027d853dea63a3" />
        </canvas>
    </imgdir>
    <imgdir name="edD">
        <canvas name="0" width="40" height="17">
            <vector name="origin" x="19" y="0" />
            <imgdir name="map" />
            <int name="z" value="-4" />
            <string name="_hash" value="f7714c8b359260f0c99bdb9afbd88f0e129ab46b9d30ddb06a149baade0f0884" />
        </canvas>
    </imgdir>
    <imgdir name="slLU">
        <canvas name="0" width="90" height="96">
            <vector name="origin" x="90" y="96" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="-90" y="-30" />
                <vector name="foothold" x="0" y="-90" />
            </extended>
            <string name="_hash" value="89758fd78771696be675c5776f063bfbd0eb074d06d79393428f6f938d154c4d" />
        </canvas>
    </imgdir>
    <imgdir name="slRU">
        <canvas name="0" width="90" height="96">
            <vector name="origin" x="0" y="96" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <extended name="foothold">
                <vector name="foothold" x="0" y="-90" />
                <vector name="foothold" x="90" y="-30" />
            </extended>
            <string name="_hash" value="d26185989a3d8ba320ed1c6b87ded684e898aa835c25cd1ea3ce85c12b636d53" />
        </canvas>
    </imgdir>
    <imgdir name="slLD">
        <canvas name="0" width="1" height="1">
            <vector name="origin" x="90" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="07aa4d5eca391d1cea389f80b857daef7545f86ae0da95830a180434d1c03da3" />
            <string name="_outlink" value="Map/Tile/ShaolinCN3.img/slLD/0" />
        </canvas>
    </imgdir>
    <imgdir name="slRD">
        <canvas name="0" width="1" height="1">
            <vector name="origin" x="0" y="0" />
            <imgdir name="map" />
            <int name="z" value="-3" />
            <string name="_hash" value="926db37f49f64eadf0eeb35af4e7848c8fd236c47e92606e0fb7c72696e6f2c8" />
            <string name="_outlink" value="Map/Tile/ShaolinCN3.img/slRD/0" />
        </canvas>
    </imgdir>
</imgdir>